<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Add New Foods</h1>
        <form action="/users/<%=user._id%>/foods" method="POST">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <button type="submit">Add new food</button>
        </form>
        <% if (typeof message !=='undefined' ) { %>
            <p>
                <%= message %>
            </p>
            <% } %>
</body>

</html>